API_PORT=3000

APP_GITHUB_PERSONAL=ejemplo
APP_GITHUB_ORGANIZATIONS=ejemplo-organizacion
APP_GITHUB_EXCLUDED_REPOSITORIES=ejemplo/ejemplo,
APP_GITHUB_TOKEN=tu_github_pat
APP_GITHUB_BASE_URL=https://api.github.com

APP_RENIEW_PROJECTS_TIME=24
APP_RENIEW_CERTS_TIME=24
APP_REFRESH_ON_STARTUP=true

APP_CERTIFICATES_BASE_URL=https://tu-script.com
app.redis.certs.time=999

POSTGRES_HOST=postgres
POSTGRES_DATABASE=portfolio
DATABASE_USER=ejemplo
DATABASE_PASSWORD=ejemplo

REDIS=redis
REDIS_PORT=6379
REDIS_PASSWORD=cacheable
REDIS_SSL=false

APP_VISITS_JWT_SECRET=tu_secreto_de_minimo_32_letras
APP_VISITS_JWT_MINUTES=15
APP_VISITS_TRUSTED_PROXIES=
APP_HOST_ALLOWED=*

